doctype html
html(lang="en")
  head
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css')
    
      
div.container-fluid
  h1 Timestamp Microservice
  p Unix Time: #{num}
  p Date: #{date}
